.Ad::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

.Ad::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.Ad::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}
.Ad{
    position: relative;
    margin: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #000;
    overflow-y:scroll;
}


.Ad__image{
    height: 8rem;
}
.Ad__image img{
    object-fit: contain;

}
.Ad .AdItem__content{
    padding: 1rem 0;
    flex-wrap: wrap;
}


.Ad .AdItem__info{

    min-height: 6.5rem;
    flex-grow: 1;
    justify-content: space-around;

}

.Ad .AdItem__salary {
    justify-content:space-around;
    flex-grow: 1;
    min-height: 5rem;
}
.Ad .AdItem__salary p{
    font-size: 1.5rem;
}
.Ad__description{
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.map-container {
    height: 50vh;
}
.map-container .Map{
    display: block;
    height: 50vh;
}

@media (min-width: 768px){
    .Ad__show-map{
        display:none;
    }
    .Modal.show-map{
        display: none;
    }
}
.Ad__contact {
    margin-top: 1rem;
}
.AD__Button-back {
    position: absolute;
    top: 5%;
    left: 5%;
}