
.Auth {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;

}

.Auth form {
    margin-bottom: 1rem;
}
.Auth__test{
    margin: 1rem;
    display: flex;
    flex-direction: column;
align-items: flex-start;
}